BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[3]" SITE "47" ;
LOCATE COMP "Ai[2]" SITE "49" ;
LOCATE COMP "Ai[1]" SITE "48" ;
LOCATE COMP "Ai[0]" SITE "50" ;
LOCATE COMP "Bi[3]" SITE "99" ;
LOCATE COMP "Bi[2]" SITE "100" ;
LOCATE COMP "Bi[1]" SITE "97" ;
LOCATE COMP "Bi[0]" SITE "98" ;
LOCATE COMP "SL" SITE "38" ;
LOCATE COMP "So[3]" SITE "117" ;
LOCATE COMP "So[2]" SITE "114" ;
LOCATE COMP "So[1]" SITE "112" ;
LOCATE COMP "So[0]" SITE "110" ;
LOCATE COMP "LED" SITE "120" ;
