BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[4]" SITE "71" ;
LOCATE COMP "cdiv00[3]" SITE "69" ;
LOCATE COMP "cdiv00[2]" SITE "70" ;
LOCATE COMP "cdiv00[1]" SITE "68" ;
LOCATE COMP "cdiv00[0]" SITE "67" ;
LOCATE COMP "reset0" SITE "60" ;
LOCATE COMP "clk00" SITE "91" ;
LOCATE COMP "outENLCD0" SITE "96" ;
LOCATE COMP "outENLED0" SITE "140" ;
LOCATE COMP "outFlagc0" SITE "50" ;
LOCATE COMP "outFlagcc0" SITE "56" ;
LOCATE COMP "outFlagcd0" SITE "32" ;
LOCATE COMP "outRSLCD0" SITE "95" ;
LOCATE COMP "outRSLED0" SITE "142" ;
LOCATE COMP "outRWLCD0" SITE "40" ;
LOCATE COMP "outRWLED0" SITE "143" ;
LOCATE COMP "outcontcd0[4]" SITE "23" ;
LOCATE COMP "outcontcd0[3]" SITE "26" ;
LOCATE COMP "outcontcd0[2]" SITE "25" ;
LOCATE COMP "outcontcd0[1]" SITE "28" ;
LOCATE COMP "outcontcd0[0]" SITE "27" ;
LOCATE COMP "outwordLED0[7]" SITE "110" ;
LOCATE COMP "outwordLED0[6]" SITE "109" ;
LOCATE COMP "outwordLED0[5]" SITE "112" ;
LOCATE COMP "outwordLED0[4]" SITE "111" ;
LOCATE COMP "outwordLED0[3]" SITE "114" ;
LOCATE COMP "outwordLED0[2]" SITE "113" ;
LOCATE COMP "outwordLED0[1]" SITE "117" ;
LOCATE COMP "outwordLED0[0]" SITE "115" ;
LOCATE COMP "outwordLCD0[7]" SITE "97" ;
LOCATE COMP "outwordLCD0[6]" SITE "98" ;
LOCATE COMP "outwordLCD0[5]" SITE "99" ;
LOCATE COMP "outwordLCD0[3]" SITE "104" ;
LOCATE COMP "outwordLCD0[2]" SITE "105" ;
LOCATE COMP "outwordLCD0[1]" SITE "106" ;
LOCATE COMP "outwordLCD0[0]" SITE "107" ;
LOCATE COMP "outwordLCD0[4]" SITE "103" ;
LOCATE COMP "outFlagd0" SITE "33" ;
