BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ami[0]" SITE "54" ;
LOCATE COMP "Ami[1]" SITE "52" ;
LOCATE COMP "Ami[2]" SITE "48" ;
LOCATE COMP "Ami[3]" SITE "47" ;
LOCATE COMP "Bmi[0]" SITE "56" ;
LOCATE COMP "Bmi[1]" SITE "55" ;
LOCATE COMP "Bmi[2]" SITE "50" ;
LOCATE COMP "Bmi[3]" SITE "49" ;
LOCATE COMP "Rmo[0]" SITE "110" ;
LOCATE COMP "Rmo[1]" SITE "109" ;
LOCATE COMP "Rmo[5]" SITE "113" ;
LOCATE COMP "Rmo[6]" SITE "117" ;
LOCATE COMP "Rmo[7]" SITE "115" ;
LOCATE COMP "Rmo[2]" SITE "111" ;
LOCATE COMP "Rmo[3]" SITE "112" ;
LOCATE COMP "Rmo[4]" SITE "114" ;
