BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[0]" SITE "54" ;
LOCATE COMP "Ai[1]" SITE "52" ;
LOCATE COMP "Ai[2]" SITE "48" ;
LOCATE COMP "Ai[3]" SITE "47" ;
LOCATE COMP "Bi[0]" SITE "56" ;
LOCATE COMP "Bi[1]" SITE "55" ;
LOCATE COMP "Bi[2]" SITE "50" ;
LOCATE COMP "Bi[3]" SITE "49" ;
LOCATE COMP "SL" SITE "67" ;
LOCATE COMP "So[0]" SITE "110" ;
LOCATE COMP "So[1]" SITE "109" ;
LOCATE COMP "LED" SITE "117" ;
LOCATE COMP "So[2]" SITE "111" ;
LOCATE COMP "So[3]" SITE "112" ;
