BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "oscout0" SITE "120" ;
LOCATE COMP "cdiv0[0]" SITE "54" ;
LOCATE COMP "cdiv0[1]" SITE "52" ;
LOCATE COMP "cdiv0[2]" SITE "48" ;
LOCATE COMP "cdiv0[3]" SITE "47" ;
LOCATE COMP "cdiv0[4]" SITE "43" ;
