BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "AGM[7]" SITE "38" ;
LOCATE COMP "AGM[6]" SITE "40" ;
LOCATE COMP "AGM[5]" SITE "39" ;
LOCATE COMP "AGM[4]" SITE "41" ;
LOCATE COMP "AGM[3]" SITE "42" ;
LOCATE COMP "AGM[2]" SITE "44" ;
LOCATE COMP "AGM[1]" SITE "43" ;
LOCATE COMP "AGM[0]" SITE "45" ;
LOCATE COMP "BGM[7]" SITE "99" ;
LOCATE COMP "BGM[6]" SITE "100" ;
LOCATE COMP "BGM[5]" SITE "97" ;
LOCATE COMP "BGM[4]" SITE "98" ;
LOCATE COMP "BGM[3]" SITE "95" ;
LOCATE COMP "BGM[2]" SITE "96" ;
LOCATE COMP "BGM[1]" SITE "93" ;
LOCATE COMP "BGM[0]" SITE "94" ;
LOCATE COMP "sel[2]" SITE "47" ;
LOCATE COMP "sel[1]" SITE "49" ;
LOCATE COMP "sel[0]" SITE "48" ;
LOCATE COMP "YGM[7]" SITE "128" ;
LOCATE COMP "YGM[6]" SITE "126" ;
LOCATE COMP "YGM[5]" SITE "122" ;
LOCATE COMP "YGM[4]" SITE "120" ;
LOCATE COMP "YGM[3]" SITE "117" ;
LOCATE COMP "YGM[2]" SITE "114" ;
LOCATE COMP "YGM[1]" SITE "112" ;
LOCATE COMP "YGM[0]" SITE "110" ;
